body {
    width: 100vw;
    background-color:rgb(255, 255, 255);
       margin: 0;
     }
   
   
     #productsContainer{
        grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
        height: 100%;
        width: 900px;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       column-gap: 60px;
       row-gap: 20px; 
       margin-bottom: 10rem;
       margin-top: 6rem;
   }
   
   .product {
     display: flex;
     flex-direction: column; 
     align-items: center;
       padding: 20px; 
       background-color: #fff;
       box-shadow: none;
   
   }
   
   .product img {
       max-width: 100%; 
       height: auto; 
   }
   
   .main-content{
       width: 100vw;
       display: flex;
       justify-content: center;
   }
   
   .product img{
       height: 10vw;
   }
   
   .hero-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       height: 30rem;
       margin: 0 auto; 
       background: url("/prodhero.png");
       color: rgb(253, 253, 253);
       background-position:top;
       background-repeat: no-repeat;
       background-size: cover; 
       max-width: 100%;
       margin-top: 3rem;
       /* border-radius: 24px; */
   }
   
   .hero-heading{
     position: relative;
       margin-top: 0;
       top: 6rem;
       margin-left: 5rem;
       width: 6rem;
       font-weight: bolder;
   font-size: xx-large;
   }
    
   
   
   
   .about-header{
     position: relative;
     margin-top: 0;
     padding-left: 34rem;
     font-weight: bolder;
     
     
   }
   
   
   .hero-heading{
   
      width: fit-content;
       text-align: center; 
       font-size: 2rem; 
       font-weight: bold; 
       color: whitesmoke;
       margin-bottom: 20px; 
       text-transform: uppercase;
       font-size: 4rem;
       top: 9rem;
   
   }
   
   .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; 
}

.product {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .8s; 
    transform-style: preserve-3d; 
}

.flip-card:hover .product {
    transform: rotateY(180deg); 
}

.flip-card-front, .flip-card-back {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: black;
    transform: rotateY(180deg); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.flip-card-front h2{
    margin-top: 1.5rem;
    font-size:medium;
}
   
.flip-card-front p{
    font-size: 1.5rem;
    margin-top: .5rem;
} 

.cart-bttn{
    border-radius: 50px;
    color: white;
    width: 6.5rem;
    height: 2.5rem;
    background-color: rgb(75, 151, 120);
    border: 0px;
    margin-top: auto;
}