
footer {
    margin-bottom: 0;

}

footer .container {
    margin-top: 2rem;
    background-color:rgb(233, 149, 130);
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 0%;
    margin-bottom: 0%;
    width: 100%;
}

.footer-col {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#footer1 h3 {
    margin-top: 1rem;
}

.footer-col p {
    margin-top: 1rem;
}

footer .row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    list-style: none;
    width: 90%;
}

#footer1 {
    flex-direction: column;
    text-align: left;
}

#footer-logo {
    font-family: "Allura", cursive;
    font-weight: bolder;
    font-style: normal; 
    font-size: xx-large;
}

#footer1 p {
    margin-top: 1rem;
    font-size: smaller;
    text-align: left;
    font-weight: lighter;
    width: 25rem;
}

#newsletter-input {
    margin-top: 1rem; 
    height: 2.4rem;
    width: 14rem;
    border-radius: 10px;
    border: 2px solid #969191;
}

#submit-bttn {
    border-radius: 12px;
    height: 2rem;
    width: 6rem;
    font-size: smaller;
    color: #737070;
    border: 2px solid #969191;
}

#footer2 {
    text-align: left;
}

#footer2 ul {
    margin-top: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {

    .container{
        overflow: hidden;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
